* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header-home {
  background-color: transparent;
}

.header-home .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.header-home .navbar-nav .nav-item .nav-link:hover {
  color: white;
}

.main-home {
  margin: 8rem 0 0 6rem;
}

.dropdown-item:hover {
  background-color: rgb(71, 71, 71) !important;
}

#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
}

.conteudo {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: none;
  background: #0ba360;
  background: linear-gradient(to right, #0ba360, #3cba92);
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #0ba360;
  width: 10em;
  height: 3em;
  padding: 0.7em;
  transition: all 0.4s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: 'de graça';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 3.80em;
}

.button:hover span:after {
  opacity: 1;
  right: -6px;
}

.features {
  color: white;
  padding: 4rem 0;
  margin: 0 auto;
}

.footer {
  text-align: center;
  padding: 2rem 0;
}

.social-icons a {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #0ba360;
}
